/*********************************************

Here is a description of any special CSS used.
In this case it's just padding and margin to 0
and then centring the canvas (and anything else)
using the CSS Grid.

Also hides overflow.

**********************************************/

*:hover {
  outline: 5px solid dodgerblue;
}


body {
  padding: 0;
  margin: 0;
  display: grid; /* Set up the grid and justify/align to center */
  justify-content: center;
  align-content: center;
  /* height: 100vh;  */
  background: beige;
}

h1 {
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-text: center;
  justify-content: center;
}

.my-items {
  width: 40%;
}

.my-items img {
  max-width: 100%;
  height: auto;
}

.trader-items {
  width: 40%;
}

.trader-items img {
  max-width: 100%;
  height: auto;
}

#trade-container {
  display: flex;
}

.hidden-item {
  display: none;
}

.active-item {
  display: block;
}

#trade-screen-1 {
  width: 25vw;
  height: 20vw;

  border: 5px dashed black;
  margin-right: 73px;
  /* display: flex;
  justify-content: center;
  align-content: center; */
}

#trade-screen-2 {
  width: 25vw;
  height: 20vw;
  margin-left: 20px;
  border: 5px dashed black;
  /* display: grid;
  justify-content: center;
  align-content: center; */
}

.btn-group button {
  background-color: #262626;
  /* border: 1px solid green;  */
  color: #262626;
  padding: 2px 60px; /* Some padding */
  margin-left: 10px;
  cursor: hand; /* Pointer/hand icon */
  width: 10%; /* Set a width if needed */
  display: block; /* Make the buttons appear below each other */
}

#btn-active button {
  color: #1e90ff;
}


/* Items individual styling */

#smokes-player, #smokes-trader {
  /* width: 100%;
  height: auto; */
  /* margin-right: -400px; */
}

#smokes-player img, #smokes-trader img {
  width: 40%;
  height: 40%;
}
