/*********************************************
CSS for Project 2: Teddy's Escape

**********************************************/

/* Body Styling */
body {
  padding: 0;
  margin: 0;
  display: grid;
  justify-content: center;
  align-content: center;
  background: beige;
}

/* Header Styling */

h1 {
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-text: center;
  justify-content: center;
}

/* Items styling */

.my-items {
  width: 40%;
}

.my-items img {
  max-width: 100%;
  height: auto;
}

.trader-items {
  width: 40%;
}

.trader-items img {
  max-width: 100%;
  height: auto;
}

.hidden-item {
  display: none;
}

.active-item {
  display: block;
}

/* Trade screen styling */

#trade-container {
  display: flex;
}

#trade-screen-1 {
  width: 20vw;
  height: 15vw;
  border: 5px dashed black;
  margin-right: 5px;
}

#trade-screen-2 {
  width: 20vw;
  height: 15vw;
  margin-left: 20px;
  border: 5px dashed black;
}

/* Navigation buttons styling */

.btn-group button {
  background-color: #262626;
  /* border: 1px solid green;  */
  color: #262626;
  padding: 1px 60px 1px 20px;
  margin-left: 10px;
  cursor: hand;
  width: 10%;
  display: block;
}

#btn-active button {
  color: #1e90ff;
}


/* Items individual styling */


#smokes-player img, #smokes-trader img {
  width: 40%;
  height: 40%;
}

/* Styling for Escape Fail Alert */

.alert-dialog img {
  width: 100%;
  height: auto;
}

/* Hidden jquery alert dialog */
.alert-dialog {
  display: none;
}

/* Losing buttons styling */
#lose-a button {
  width: 100px;
  height: 50px;
}


#lose-b button {
  width: 100px;
  height: 50px;
}


/* p5 Canvas styling */
#game-canvas {
  margin-top: 5px;
}
