
/* CSS styling for Code Taker Plus Plus */

body {
  background-color: hsla(187, 68%, 43%, 0.9);
  font-family: 'Garamond', serif;
}


/* Some Very Basic Styling */

#message {
  font-size: 1.2rem;
}

#answer {
  font-size: 1.8rem;
  margin-top: 1.8rem;
  height: 1.8rem;
  border: 1px solid black;
}

.found {
  color: red;
}
