
/* CSS styling for Code Taker Plus Plus */

body {
  background-color: #292929;
  font-family: 'Garamond', serif;
  color: #292929;
}


/* Some Very Basic Styling */

#message {
  font-size: 1.2rem;
}

#answer {
  font-size: 1.8rem;
  margin-top: 1.8rem;
  height: 1.8rem;
  border: 1px solid black;
  color: #eeeeee;
  background-color: #5f8c9b;
}

.found {
  color: #fbc0c0;
}
